<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="https://angeidhealur.scot" style="font-family: Lemonada" title="{{ site.title }}">{{ site.title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
<li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Roinnean-seòrsa | Categories"
        >
          <strong>Naidheachdan</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://angeidhealur.scot/" title="Na h-uile | All posts"><strong>Na h-uile</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/a-chuimrigh"><strong>A' Chuimrigh</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/alba"><strong>Alba</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/an-roinn-eorpa"><strong>An Roinn Eòrpa</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/an-rioghachd-aonaichte"><strong>An Rìoghachd Aonaichte</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/an-t-saoghal"><strong>An t-Saoghal</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/blog"><strong>Blog</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/creideamh"><strong>Creideamh</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/criomagan"><strong>Criomagan</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/dibhearsan"><strong>Dibhearsan</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/eilean-mhanainn"><strong>Eilean Mhanainn</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/eirinn"><strong>Èirinn</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/eirinn-a-tuath"><strong>Èirinn a Tuath</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/foghlam"><strong>Foghlam</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/gaidhlig"><strong>Gàidhlig</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/gniomhachas"><strong>Gnìomhachas</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/iomairteachd"><strong>Iomairteachd</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/lagh"><strong>Lagh</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/poileataigs"><strong>Poileataigs</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/prois"><strong>Pròis</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/saidheans"><strong>Saidheans</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/sasainn"><strong>Sasainn</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/slainte"><strong>Slàinte</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/spors"><strong>Spòrs</strong></a>
          <a class="dropdown-item" href="https://angeidhealur.scot/roinn-seorsa/teicneolas"><strong>Teicneòlas</strong></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://faclair.lgbt" title="Faclair nan Gèidheal"><strong>Faclair nan Gèidheal</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.scot/comhairle/" title="Comhairle | Advice"><strong>Comhairle</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.scot/ceanglaichean/" title="Ceanglaichean | Links"><strong>Ceanglaichean</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.myspreadshop.co.uk/" target="_blank" title="Bùth-bhathair | Merch Store"><strong>Bùth-bhathair</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.scot/mu-ar-deidhinn/" title="Mu ar deidhinn | About Us"><strong>Mu ar deidhinn</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.scot/lorg/" title="Lorg | Search"><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
    </ul>
  </div>
</nav>
