<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href={{"/" | relative_url}} style="font-family: Lemonada" title="{{ site.title }}">{{ site.title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item">
        <a class="nav-link" href={{"/" | relative_url}} title="Dhachaigh | Home">Dhachaigh</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Roinnean-seòrsa | Categories"
        >
          Roinnean‑seòrsa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in site.data.categories %}
            <a class="dropdown-item" href="{{ category.url }}">{{ category.title }}</a>
          {% endfor %}
        </div>
      </li>-->
      <li class="nav-item">
        <a class="nav-link"  href={{"/faclair/" | relative_url}} title="Faclar | Dictionary">Faclair</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/dualchas/" | relative_url}} title="Dualchas | Heritage">Dualchas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/ceanglaichean/" | relative_url}} title="Ceanglaichean | Links">Ceanglaichean</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/mu-ar-deidhinn/" | relative_url}} title="Mu ar deidhinn | About Us">Mu ar deidhinn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/lorg/" | relative_url}} title="Lorg | Search">Lorg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angeidhealur.myspreadshop.co.uk/" target="_blank" title="Bùth-bhathair | Merch Store">Bùth-bhathair</a>
      </li>
    </ul>
  </div>
</nav>
