---
layout: default
---

  <h1><strong>{{ page.title }}</strong></h1>

  <h2>Eadar-theangachaidhean</h2>

  <p>&#x1f1ee;&#x1f1ea; [{{ page.title_ga }}]({{ page.permalink_ga | prepend: site.baseurl | replace: '//', '/' }})</p>

  <p></p>&#x1f3f4;&#xe0067;&#xe0062;&#xe0065;&#xe006e;&#xe0067;&#xe007f; [{{ page.title_en }}]({{ page.permalink_en | prepend: site.baseurl | replace: '//', '/' }})</p>

  <h2>Mìneachadh</h2>
  
  {{ content }}
  
  <!--<h4>Fàg beachd</h4>
  {% if page.mastodon %}
    <p>Ma tha beachd agad mun a' phost seo, faodaidh tu a chur thugam air <a href="{{ page.mastodon }}">Mastodon</a>.</p>
  {% else %}
    <p>Ma tha beachd agad mun a' phost seo, faodaidh tu a chur thugam air <a href="https://www.threads.net/@angeidhealur">Threads</a> no <a href="https://www.mastodon.scot/@angeidheal">Mastodon</a>.</p>
  {% endif %}-->